<div *ngIf="product.title" class="card">
    <img *ngIf="product.imageUrl" class="card-img-top" [src]="product.imageUrl" alt="{{ product.title }}">
    <div class="card-body">
        <h5 class="card-title">{{ product.title }}</h5>
        <p class="card-text">{{ product.price | currency:"USD":'symbol' }}</p>

    </div>
    <div *ngIf="showAction" class="card-footer">
        <button *ngIf="cart.getQuantity(product) == 0; else QuantityController" (click)="addToCart()" class="btn btn-secondary btn-block">Add to Cart</button>

        <ng-template #QuantityController>
            <app-product-quantity [product]="product" [cart]="cart"></app-product-quantity>
        </ng-template>
    </div>
</div>