<nav class="navbar navbar-expand navbar-light bg-light">
    <a routerLinkActive="active" routerLink="/" class="navbar-brand">
        Demo
    </a>
    <button class="navbar-toggler">
        <span class="navbar-togger-icon"></span>
    </button>
    <div class="collapse show navbar-collapse">
        <ul class="navbar-nav mr-auto">
            <li routerLinkActive="active" class="nav-item">
                <a routerLink="/cart" class="nav-link">
                    Shopping Cart
                    <span *ngIf="cart$ | async as cart" class="badge badge-pill badge-warning">{{ cart.totalCount }}</span>
                </a>
            </li>

            <ng-template #anonymousUser>
                <li routerLinkActive="active"
                    class="nav-item">
                    <a routerLink="/login" class="nav-link">Login</a>
                </li>
            </ng-template>

            <li *ngIf="appUser; else anonymousUser"
                class="nav-item dropdown"
                ngbDropdown>
                <a class="nav-link dropdown-toggle" ngbDropdownToggle>{{ appUser.name }}</a>
                <div class="dropdown-menu" ngbDropdownMenu>
                    <a class="dropdown-item" routerLink="/my/orders">My Orders</a>
                    <ng-container *ngIf="appUser.isAdmin">
                        <a class="dropdown-item" routerLink="/admin/orders">Manage Orders</a>
                        <a class="dropdown-item" routerLink="/admin/products">Manage Products</a>
                    </ng-container>
                    <a class="dropdown-item" (click)="logout()">Log Out</a>
                </div>
            </li>
        </ul>
    </div>
</nav>
